
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    align-items: center;  
    overflow: hidden;  
    margin: 0;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

.box1 {
    display: flex;
    background: #FAEBD7;
    border: 2px solid #000;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: #DAA520;
    margin: 2px;
}