
body {
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    overflow: hidden;
    margin: 0;
}


.box1 {
    display: flex;
    background: #006400;
    width: 90vh;
    height: 50%;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    color: #FF0000;
}

.box2 {
    display: flex;
    background: #FAEBD7;
    width: 90vh;
    height: 50%;
    border: 2px solid #000;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: #DAA520;
}